:root {
  --background: #050505;
  --foreground: #ededed;
  --card-bg: #121212;
  --card-border: #2a2a2a;
  --accent: #ffffff;
  --font-mono: var(--font-geist-mono);
  --font-sans: var(--font-geist-sans);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

